<ul class = "nav nav-pills spacer clickable">
    <li ng-click="selectionnerSection(1)" ng-class="{active : sectionSelectionnee == 1}"> <a href="#"> Partie 1 </a> </li>
    <li ng-click="selectionnerSection(2)" ng-class="{active : sectionSelectionnee == 2}"> <a href="#"> Partie 2 </a> </li>
  </ul>
  <div class="alert alert-info"> la section active est {{sectionSelectionnee}}.</div>

<div ng-show="sectionSelectionnee == 1">  </div>

<nvd3 options="options" data="data"></nvd3>