<div ng-controller='LoLiTCtrlPart3'>
	<div style="background-color:rgba(1,1,1,0.2)" class="container align-center" >
		<div class="center-child">
			<div class="title-section">
				Number of games (last 7 days)
			</div>
			<nvd3 options="barchart" data="datadailygames"></nvd3>
		</div>
	</div>
</div>