<div ng-controller='LoLiTCtrlPart2'>

  <div style="background-color:rgba(1,1,1,0.2)" class="container" >

    <table class="table">
	  <thead class="thead-inverse">
	    <th>Attributs</th>
	    <th>Valeurs</th>
	  </thead>
	  <tbody>
	  	<tr class=" row1">
	      <th>id</th>
	      <td>{{avgppls[0].id}}</td>
	    </tr>
	    <tr class="">
	      <th>KDA</th>
	      <td>{{avgppls[0].KDA}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>wardsKilled</th>
	      <td>{{avgppls[0].wardsKilled}}</td>
	    </tr>
	    <tr>
	      <th>wardsPlaced</th>
	      <td>{{avgppls[0].wardsPlaced}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>physicalDamageTaken</th>
	      <td>{{avgppls[0].physicalDamageTaken}}</td>
	    </tr>
	    <tr>
	      <th>magicDamageTaken</th>
	      <td>{{avgppls[0].magicDamageTaken}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>totalDamageDealt</th>
	      <td>{{avgppls[0].totalDamageDealt}}</td>
	    </tr>
	    <tr>
	      <th>physicalDamageDealtToChampions</th>
	      <td>{{avgppls[0].physicalDamageDealtToChampions}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>magicDamageDealtToChampions</th>
	      <td>{{avgppls[0].magicDamageDealtToChampions}}</td>
	    </tr>
	    <tr>
	      <th>totalDamageDealtToChampions</th>
	      <td>{{avgppls[0].totalDamageDealtToChampions}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>pentaKills</th>
	      <td>{{avgppls[0].pentaKills}}</td>
	    </tr>
	    <tr>
	      <th>quadraKills</th>
	      <td>{{avgppls[0].quadraKills}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>tripleKills</th>
	      <td>{{avgppls[0].tripleKills}}</td>
	    </tr>
	    <tr>
	      <th>doubleKills</th>
	      <td>{{avgppls[0].doubleKills}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>kills</th>
	      <td>{{avgppls[0].kills}}</td>
	    </tr>
	    <tr>
	      <th>champLevel</th>
	      <td>{{avgppls[0].champLevel}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>deaths</th>
	      <td>{{avgppls[0].deaths}}</td>
	    </tr>
	    <tr>
	      <th>assists</th>
	      <td>{{avgppls[0].assists}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>minionsKilled</th>
	      <td>{{avgppls[0].minionsKilled}}</td>
	    </tr>
	    <tr>
	      <th>neutralMinionsKilled</th>
	      <td>{{avgppls[0].neutralMinionsKilled}}</td>
	    </tr>
	    <tr class=" row1">
	      <th>goldEarned</th>
	      <td>{{avgppls[0].goldEarned}}</td>
	    </tr>
	    <tr>
	      <th>goldSpent</th>
	      <td>{{avgppls[0].goldSpent}}</td>
	    </tr>
	  </tbody>

	</table>


  </div>

</div>