<div ng-controller='LoLiTCtrlPart3'>
	<div style="background-color:rgba(1,1,1,0.2)" class="container align-center" >
		<div class="title-section">
			Number of games (last 7 days)
		</div>
		<div class="center-child">
			<nvd3 options="barchart" data="datadailygames"></nvd3>
		</div>

		<div class="title-section">
			Number of games by gametype
		</div>
		<div class="center-child correcting-legend">
			<nvd3 options="barchart2" data="dataqueues"></nvd3>
		</div>
	</div>
</div>