<div ng-controller='LoLiTCtrlPart2'>
  <div class="alert alert-info"> la section active est {{sectionSelectionnee}}.</div>

  <div style="background-color:rgba(1,1,1,0.2)" class="container" >
    <nvd3 options="optionspicks" data="newdatapicks"></nvd3>
  </div>

  {{newdatapicks}}
</div>